.profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  
  /* .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile-image {
    flex: 0 0 30%;
  }
  
  .profile-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .image-button {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-info {
    flex: 0 0 60%;
  }
  
  .profile-info p {
    margin-bottom: 10px;
  }
  
  .edit-button,
  .delete-button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button {
    margin-right: 10px;
  }
   */